.lineContent,
.lineNumber {
  display: table-cell;
}
.lineContent {
  text-overflow: ellipsis;
}
.lineNumber {
  text-align: right;
  padding-right: 1.5rem;
  user-select: none;
  opacity: 0.4;
  min-width: 2.5rem;
}
.line {
  width: 100%;
}